@model Inventory

<div class="export-container">
    <h3>Export Inventory Data</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Export as CSV</h5>
                    <p class="card-text">Export all items in this inventory as a CSV file.</p>
                    <a href="@Url.Action("ExportCsv", "Export", new { inventoryId = Model.Id })" class="btn btn-primary">
                        <input type="hidden" name="IsPublic" value="false" />
                        Export CSV
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Export as Excel</h5>
                    <p class="card-text">Export all items in this inventory as an Excel file.</p>
                    <a href="@Url.Action("ExportExcel", "Export", new { inventoryId = Model.Id })" class="btn btn-success">
                        <input type="hidden" name="IsPublic" value="false" />
                        Export Excel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
