@model Inventory_Management_Requirements.Models.Inventory

<div class="stats-container">
    <h3>Inventory Statistics</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Items</h5>
                    <p class="card-text">@Model.Items.Count()</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Created Date</h5>
                    <p class="card-text">@Model.CreatedAt.ToString("d")</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    <p class="card-text">@Model.Category?.Name</p>
                </div>
            </div>
        </div>
    </div>
</div>
